.container {
    width: 90%;
    height: 800px;
    margin: 0 auto;
    background-color: #fff; /* Dodatni razmak ispod navigacije */
    text-align: center;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse; /* Uklanja razmake između ćelija */
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #007bff;
    color: #fff;
  }
  