* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #00447d;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #c4c4c4;
  width: 100%;
  height: 200px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1400px;
  margin: 0 auto;
  height: 8vh;
}

.logo {
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  position: relative;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav ul .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

nav ul .dropdown li {
  padding: 12px 16px;
}

nav ul .dropdown li a {
  color: #000;
  text-decoration: none;
  display: block;
}

nav ul .dropdown li:hover {
  background-color: #ddd;
}

nav ul li:hover > .dropdown {
  display: block;
}
.drop-h:hover > .nested-dropdown {
  display: block;
}
nav ul .nested-dropdown {
  top: 0;
  left: 100%;
  background-color: #fff;
  display: none;
}
.search input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

main {
  padding: 20px 0 164px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bottom shadow */
}

.slider {
  text-align: center;
  padding: 20px;
}

.slider h1 {
  font-size: 30px;
}

.slider-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease; /* Ensure smooth sliding */
}

.slides {
  display: flex;
  flex-wrap: nowrap;
}

.slide {
  min-width: calc(100% / 3); /* Display 3 slides at a time */
  box-sizing: border-box;
  padding: 10px;
}

.slide img {
  width: 100%;
  display: block;
  max-height: 265px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}
footer p,
footer h3 {
  color: gray;
  font-weight: 200;
}
footer hr {
  border: gray 0.5px solid;
}
.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: #333;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #f8f8f8;
  }

  nav ul li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}

nav ul.show {
  display: flex;
}
